.wrapper {
    padding-top: 50px;
    max-width: 80%;
    margin: 0 auto;

    .spark {
        position: absolute;
        width: 31.03px;
        height: 30.65px;
        left: 343.99px;
        top: 155.36px;
    }

    .home {
        position: absolute;
        width: 87.17px;
        height: 81.78px;
        left: 1441px;
        top: 160px;
    }
}


.title {
    font-family: 'CaslonTwoBlackSSK';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #1B1B1B;
}


.header {
    text-align: center;
}

.permissionCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 180px;
    background: #C4D3F6;
    border-radius: 24px;
    margin: 120px auto 0;
    padding: 60px;

    .bubbles {
        position: absolute;
        right: 18%;
    }

    .infoSection {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    h5 {
        font-family: 'CaslonTwoBlackSSK';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        color: #1B1B1B;
    }

    h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #1B1B1B;
    }

    .button {
        background-color: #fff;
        color: #1B1B1B;
        font-weight: 600;
        padding: 8px 60px;
        font-size: 16px;
        height: 54px;
    }
}